<div class="modal-content">
    <h3 class="text-center login-title">Vendor Login</h3>
    {{!-- <span class="close">&times;</span> --}}
    <form class="log-in-form login">
        <h4 class="text-center">Log in with your email account</h4>
        <label>
            <input type="email" id="email-input" placeholder="somebody@example.com">
        </label>
        {{!-- <label>Password
                <input type="password" id="password-input" placeholder="Password">
            </label>
            <input id="show-password" type="checkbox"><label for="show-password">Show password</label> --}}
        <button type="submit" class="button expanded pink-button">Login</button>
        {{!-- <p class="text-center"><a href="#">Forgot your password?</a></p> --}}
        <p class="text-center">Don't have an account? <a href="/vendor-signup">Vendors sign up here</a></p>
        <p class="text-center">Not a Vendor? <a href="/customer-login">Customers login here</a></p>
    </form>
</div>

<script type="text/javascript" src="/assets/js/vendor-login.js"></script>