<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cultural Bash Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
    integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
  <link href="/assets/css/signup.css" rel="stylesheet">
</head>

<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Cultural Bash</li>
      </ul>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-6 small-offset-3">

        <div class="form-registration">

          <figure class="form-registration-img">
            <div class="verticalhorizontal">
              <img
                src="https://www.phillymag.com/wp-content/uploads/sites/3/2019/11/indian-wedding-ceremony-thumb-2.jpg"
                alt="wedding-image" style="height:350px;" class="center" />
            </div>
            <figcaption class="form-registration-img-caption">Experience everything Cultural Bash has to offer.
            </figcaption>
          </figure>

          <form class="form-registration-group signup" action="">
            <input class="form-registration-input" type="text" id="first-name-input" placeholder="First Name">
            <input class="form-registration-input" type="text" id="last-name-input" placeholder="Last Name">
            <input class="form-registration-input" type="email" id="email-input" placeholder="Your email">
            <input class="form-registration-submit-button" type="submit" value="Continue">
            <p class="form-registration-member-signin">Already a member? <a href="#">Sign in</a></p>
          </form>

        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/signup.js"></script>

</body>

</html>