{{!-- NavBar --}}
<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu">
      <li class="menu-text site-title-font" id="navbar-title">Cultural Bash</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/customer-create-event">Create an Event</a></li>
      <li><a href="/customer">Profile</a></li>
      <li><a href="/customer-login"><button id="myBtn">Login</button></a></li>
    </ul>
  </div>
</div>
{{!-- BACKGROUND BOX where Event info and Service Cards will be displayed --}}
<div class="grid-container event-box top-space">
  {{!-- HEADING --}}
  <h2 class="title-underline">MY EVENTS</h2>
  {{!-- EVENT TITLE and INFORMATION  this may need to be put in a a partial--}}
  <div class="cell align-middle small-12 flex-container flex-dir-column large-flex-dir-row event-info-display">
    {{!-- Dynamically Generate the Event Name (ex: Wedding Ceremony) --}}
    <div class=" flex-child-auto yellow-background"><h4>Wedding Ceremony</h4></div>
    {{!-- Dynamically Generate the Event Date  --}}
    <div class=" flex-child-auto"><h6>12/12/20</h6></div>
    {{!-- Dynamically Generate the Event Time --}}
    <div class=" flex-child-auto"><h6>1:30-2:30</h6></div>
    {{!-- Dynamically Generate the Event Location/Address --}}
    <div class=" flex-child-auto"><h6>275 West Vineland Road, Augusta, GA, 30904</h6></div>
  </div>
  {{!-- SERVICE CARD DISPLAY AREA --}}
  <div class="grid-x grid-margin-x grid-x grid-margin-x small-up-4 medium-up-4 large-up-30">
    {{!-- Service Card --}}
    <div class="cell">
      <div class="card service-card">
        <div class="card-section">
          {{!-- Dynamically Generate Service Card Title --}}
          <h5>Service Title</h5>
          {{!-- Dynamically Generate the BID NUMBER --}}
          <p>BIDS : 5</p>
          {{!-- VIEW BIDS leads to Bid List Page --}}
          <a class="button small pink-button" href="#">VIEW BIDS</a>
        </div>
      </div>
    </div>
{{!-- Below this line are examples that will need to be deleted until the footer--}}
    <div class="cell">
      <div class="card service-card">
        <div class="card-section">
          <h5>Service Title</h5>
          <p>BIDS : 5</p>
    
          <a class="button small pink-button" href="#">VIEW BIDS</a>
        </div>
      </div>
    </div>

    <div class="cell">
      <div class="card service-card">
        <div class="card-section">
          <h5>Service Title</h5>
          <p>BIDS : 5</p>

          <a class="button small pink-button" href="#">VIEW BIDS</a>
        </div>
      </div>
    </div>

    <div class="cell">
      <div class="card service-card">
        <div class="card-section">
          <h5>Service Title</h5>
          <p>BIDS : 5</p>

          <a class="button small pink-button" href="#">VIEW BIDS</a>
        </div>
      </div>
    </div>

  </div>
</div>

{{!-- FOOTER possibly add copywrite like project 1, for now there is an h3 placeholder  --}}
<div class="cell shrink footer">
    <h3>copywrite</h3>
  </div>