{{!-- NavBar --}}
<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu">
      <li class="menu-text site-title-font" id="navbar-title">Cultural Bash</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/create-event-a">Create an Event</a></li>
      <li><a href="/customer">Profile</a></li>
      <li><a href="/customer-login"><button id="myBtn">Login</button></a></li>
    </ul>
  </div>
</div>
{{!-- BACKGROUND BOX where Event info and Service Cards will be displayed --}}
<div class="grid-container event-box top-space">
    <div class="grid-x">
        <div class="cell">
             <h2 class="title-underline">MY BIDS</h2>
        </div>
    </div>
    <div class="grid-x">
    {{!-- Active Bid Section --}}
        <div class="cell small-6 flex-container flex-dir-column">
            {{!-- ACTIVE BID CARD EXAMPLE 1 --}}
            <div class="card grid-x grid-padding-x services-card-active">
                <div class="card-section align-justify">
                    <div class="cell">
                        <h5>Event Title</h5>
                    </div>
                     <div class="cell align-self-right">
                        <h6>My Bid: $500.00</h6>
                     </div>
                </div>
                <div class="card-section service-card-body">
                    <p>Date - Time - Location</p>
                </div>
                <div class="row grid-x grid-padding-x service-card-body">
                    <div class="button-group align-spaced">
                        <a class="button small pink-button" href="#">Delete Bid</a>
                        <a class="button small pink-button" href="#">Details</a>
                    </div>
                </div>
            </div>
        </div>
    {{!-- Accepted Bid Section --}}
        <div class="cell small-6 flex-container flex-dir-column">
            {{!-- ACCEPTED BID CARD EXAMPLE 1 --}}
            <div class="card grid-x grid-padding-x services-card-accepted">
                <div class="card-section align-justify">
                    <div class="cell">
                        <h5>Event Title</h5>
                    </div>
                     <div class="cell align-self-right">
                        <h6>My Bid: $500.00</h6>
                     </div>
                </div>
                <div class="card-section service-card-body">
                    <p>Date - Time - Location</p>
                </div>
                <div class="row grid-x grid-padding-x service-card-body">
                    <div class="button-group align-spaced">
                        <a class="button small pink-button" href="#">Delete Bid</a>
                        <a class="button small pink-button" href="#">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
{{!-- FOOTER possibly add copywrite like project 1, for now there is an h3 placeholder  --}}
<div class="cell shrink footer">
    <h3>copywrite</h3>
  </div>