<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu">
      <li class="menu-text site-title-font" id="navbar-title">Cultural Bash</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/vendor-bid">Bid on an Event</a></li>
      <li><a href="/vendor">Profile</a></li>
      <li><a href="/vendor-login"><button id="myBtn">Login</button></a></li>
    </ul>
  </div>
</div>
{{!-- BACKGROUND BOX where Event info and Service Cards will be displayed --}}
<div class="grid-container event-box top-space">
  {{!-- HEADING --}}
  <h3 class="title-underline">Available Events</h3>
  {{!-- SERVICE CARD DISPLAY AREA --}}
  <div class="grid-x grid-margin-x grid-x grid-margin-x small-up-4 medium-up-4 large-up-30">
    {{!-- Service Card --}}
    <table id="apiCall">
                    <tr>
                        <th>Event Name</th>
                        <th>Event Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Event Type</th>
                        <th>Guest Count</th>
                        <th>Location</th>
                        <th>Action</th>
                    </tr>  
    </table>


{{!-- FOOTER possibly add copywrite like project 1, for now there is an h3 placeholder  --}}
<div class="cell shrink footer">
    <h3>copyright</h3>
</div>

<script src="assets/js/vendor-services.js"></script>