<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cultural Bash Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
    integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
  <link href="/assets/css/signup.css" rel="stylesheet">
</head>

<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <h1><a href="/">Cultural Bash</a></h1>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-6 small-offset-3">

        <div class="form-registration">

          <figure class="form-registration-img">
            <div class="verticalhorizontal">
              <img
                src="https://www.manhattanbride.com/wp-content/uploads/2019/04/Indian-Traditions39-787-Christopher-Brock-Photography.jpg"
                alt="wedding-image" style="height:350px;" class="center" />
            </div>
            <figcaption class="form-registration-img-caption">Experience everything Cultural Bash has to offer.
            </figcaption>
          </figure>

          <form class="form-registration-group" action="">
            <input class="form-registration-input" type="text" placeholder="Business Name">
            <input class="dropdown-pane" type="text" placeholder="Category">
            <label>Select Category
              <select>
                <option value="">Select Category</option>
                <option value="bar-services">Bar Services</option>
                <option value="baraat">Baraat</option>
                <option value="bollywood-performers-and-instructors">Bollywood Performers &amp; Instructors</option>
                <option value="bridal-fashions">Bridal Fashions</option>
                <option value="bridal-jewelry">Bridal Jewelry</option>
                <option value="cakes-and-treats">Cakes &amp; Treats</option>
                <option value="catering">Catering</option>
                <option value="cinematography">Cinematography</option>
                <option value="dj">DJ</option>
                <option value="draping-styling">Draping/Styling</option>
                <option value="event-designer">Event Designer</option>
                <option value="event-insurance">Event Insurance</option>
                <option value="favors">Favors</option>
                <option value="floral-and-decor">Floral &amp; Decor</option>
                <option value="hair-and-makeup">Hair &amp; Makeup</option>
                <option value="honeymoon">Honeymoon</option>
                <option value="invitations-and-wedding-stationery">Invitations &amp; Wedding Stationery</option>
                <option value="lighting">Lighting</option>
                <option value="live-music">Live Music</option>
                <option value="mehndi-artists">Mehndi Artists</option>
                <option value="men-s-formalwear-and-tuxedos">Men's Formalwear &amp; Tuxedos</option>
                <option value="photography">Photography</option>
                <option value="planning-and-design" selected="selected">Planning &amp; Design</option>
                <option value="registry">Registry</option>
                <option value="rentals">Rentals</option>
                <option value="transportation">Transportation</option>
                <option value="travel-concierge">Travel Concierge</option>
                <option value="venues">Venues</option>
              </select>
            </label>
            <input class="form-registration-input" type="text" placeholder="First Name">
            <input class="form-registration-input" type="text" placeholder="Last Name">
            <input class="form-registration-input" type="email" placeholder="Your email">
            <input class="form-registration-submit-button" type="submit" value="Continue">
            <p class="form-registration-member-signin">Already a member? <a href="#">Sign in</a></p>
          </form>

        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/signup.js"></script>

</body>

</html>