<html lang="en">

<head>
    <title>Customer Services Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
        integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link href="/assets/css/customer-services.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
</head>

<body>
<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu">
      <li class="menu-text site-title-font" id="navbar-title">The Wedding Pot</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/customer-create-event">Create an Event</a></li>
      <li><a href="/customer">Profile</a></li>
      <li><a href="/customer-login"><button id="myBtn">Login</button></a></li>
    </ul>
  </div>
</div>
    

    <div class="holy-grail-grid">
        <div class="holy-grail-header">
            <h3 class="profile-bar">Profile Page</h3>
        </div>

        <div class="holy-grail-left">
            <div class="current-events">
            <h3 class="profile-events"> Upcoming Event Details:</h3>
            {{!-- <h3>Past Events</h3>
            <ul>
                <li><a href="#">Event 1 ID/Name Here</a></li>
                <li><a href="#">Event 2 ID/Name Here</a></li>
                <li><a href="#">Event 3 ID/Name Here</a></li>
            </ul> --}}

            </div>
            <div class ="event-description">
            </div>
        </div>

        <div class="holy-grail-middle">
            <div class="card-user-container">
                <div class="card-user-avatar">
                    <img src="https://images.unsplash.com/photo-1515626553181-0f218cb03f14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80" alt="" class="user-image">
                </div>
                <div class="card-user-bio" id="profile-section">
                </div>
            </div>
            <div class="card-user-container text-center" id="upcoming-events">
                <h3 class="profile-events"> My Upcoming Events</h3>
                <table id="apiCall">
                    <tr>
                        <th>Event Name</th>
                        <th>Event Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Event Type</th>
                        <th>Guest Count</th>
                        <th>Location</th>
                        <th>Action</th>
                    </tr>  
                    </table>
            </div>
        </div>
    </div>
    {{!-- FOOTER possibly add copywrite like project 1, for now there is an h3 placeholder--}}
<div class="cell shrink footer">
    <h3>copywrite</h3>
</div>
<script src="assets/js/customer-profile.js"></script>
</body>
</html>