{{!-- NavBar --}}

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu">
      <li class="menu-text site-title-font" id="navbar-title">Cultural Bash</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#0">Inspiration</a></li>
      <li><a href="#0">About</a></li>
      <li><a href="#0"><button>Login</button></a></li>
    </ul>
  </div>
</div>

{{!-- Site Title and Paragraph --}}
<div class="row grid-x grid-padding-x align-center-middle text-center top-space">
    <div class="cell small-5 medium-8 large-7 main-body">
        <h2 class="site-title-font">Cultural Bash</h2>
        <p>With a focus on your culture and community. Let's build dream events together</p>
        <div class="row grid-x grid-padding-x align-spaced top-space">
            <a class="button pink-button" href="/customer-signup">CUSTOMER</a>
            <a class="button yellow-button" href="/vendor-signup">VENDOR</a>
        </div>
    </div>
</div>

{{!-- FOOTER possibly add copywrite like project 1, for now there is an h3 placeholder--}}
<div class="cell shrink footer">
    <h3>copywrite</h3>
</div>
