<div class="top-bar">
    <div class="top-bar-left">
        <h1>Cultural Bash</h1>
        <ul class="right">
            {{!-- <li><a href="#">Vendor Login</a></li>
            <li><a href="#">Customer Login</a></li> --}}
            <li><button id="myBtn">Login</button></li>
        </ul>
    </div>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form class="log-in-form">
            <h4 class="text-center">Log in with you email account</h4>
            <label>Email
                <input type="email" placeholder="somebody@example.com">
            </label>
            <label>Password
                <input type="password" placeholder="Password">
            </label>
            <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
            <p><input type="submit" class="button expanded" value="Log in"></input></p>
            <p class="text-center"><a href="#">Forgot your password?</a></p>
        </form>
    </div>

</div>


<a class="button" href="/vendor-signup">Vendor</a>
<br>
<a class="button" href="/customer-signup">Customer</a>