/* BACKGROUND IMAGE */
body{
  background-image: url("https://image.freepik.com/free-vector/beautiful-indian-traditional-seamless-pattern-black-white_1442-5757.jpg"); 
}
/* Font for site title in nav bar and homepage */
.site-title-font {
    font-family: serif;
}
/* NAVBAR BACKGROUND COLOR */
.top-bar,
.top-bar ul,
.top-bar li,
.top-bar a,
.top-bar button {
  background-color:black;
  color: white;
}
/* NAVBAR TITLE FONTSIZE */
#navbar-title {
  font-size: 16pt;
}
/* FOOTER STYLING */
.footer {
  background-color: black;
  position:fixed;
  width: 100%;
  bottom:0;
}
/* HOME PAGE STYLING */
h2 {
  font-weight: bold;
}
.top-space {
  margin-top: 40px;
}
.main-body {
  background-color: rgb(255, 255, 255);
  border: solid 5px black;
  height: 50%;
  width: 70%;
  padding: 10%;
}
/* MODAL LOGIN FORM */
.log-in-form {
  padding: 1rem;
  border-radius: 0;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.534); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #FDC366;
  margin: 12% auto;  /* 15% from the top and centered */
  max-width: 500px;
  max-height: 500px;
  padding: 20px;
  border: solid 5px black;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #D60042;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* BUTTON STYLING */
.button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height:40px;
  width: 150px;
}
/* YELLOW BUTTONS */
.yellow-button {
  background-color: #FDC366;
  color: black;
}
.yellow-button:hover,
.yellow-button:focus {
  background-color: rgb(0, 0, 0);
  color: #D60042;
  cursor: pointer;
}
/* PINK BUTTONS */
.pink-button {
  background-color: #D60042;
  color: white;
}
.pink-button:hover,
.pink-button:focus {
  background-color: rgb(0, 0, 0);
  color: #FDC366;
  cursor: pointer;
}
/* CUSTOMER-EVENT-PAGE */
/* background box */
.event-box {
  background-color: white;
  border: solid 5px black;
  max-width: 70%;
  margin-left: 15%;
  padding: 20px;
  align-content: center;
}
/* box title */
.title-underline {
  border-bottom: solid 1px black;
  color: #D60042;
  text-align: center;
  margin-bottom: 20px;
}
/* The Event Information Display Styling */
.event-info-display {
  margin-bottom: 20px;
}
.event-info-display h6 {
  font-size: 20px;
}
.event-info-display h4 {
  font-family: serif;
  font-weight: bold;
}
/* The Service Card Styling */
.service-card h5 {
  background-color: black;
  border-bottom: solid 1px #FDC366;
}
.service-card {
  background-color: black;
  text-align: center;
  color: white;
  padding: 7px;
  justify-content: center;
}
/* highlighted event name */
.yellow-background {
  background-color: #FDC366;
  margin-right: 15px;
  padding-left: 10px;
}
/* CUSTOMER CREATE EVENT PAGE 1 */
/* background box */
.create-event-box {
  background-color: #D60042;
  border: solid 5px black;
  max-width: 70%;
  align-self: center;
  padding: 20px;
}
/* event creation form title */
.event-create-title {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
/* changing labels to white and bold */
label {
  color: white;
  font-weight: bold;
}
/* CUSTOMER CREATE EVENT PAGE 2 */
.chosen-service{
  background-color: rgba(255, 255, 255, 0.644);
  margin-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 1px;
}
.chosen-service h6 {
  padding-top: 4px;
}
.chosen-service-title{
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}
.chosen-service-title h5 {
  font-weight: bold;
}
li {
  list-style-type: none;
}